.impacto {
  display: flex;
  align-items: center;
  gap: 32px;
}

.impacto h2::before {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background: var(--cor-p4);
  border-radius: 50%;
  margin: 0px 0px 40px 0px;
}

.impacto img {
  margin-top: 40px;
}

.impacto h2 {
  margin-bottom: 20px;
}

@keyframes mover-seta {
  0% { transform: translateX(0); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.arrow{
  display: inline-block; /* Para permitir a animação */
  animation: mover-seta 1s infinite ease-in-out;
}

@media (max-width: 800px) {
  .impacto {
    flex-direction: column;
  }
}
