.missao {
  padding: 80px 0px;
}

.missao h2 {
  margin-bottom: 40px;
}

.missao-botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media(max-width: 800px){
  .missao-botoes {
    gap: 12px;
  }
}
