.ultimos-projetos {
  padding: 80px 0px;
}

.ultimos-projetos h2 {
  margin-bottom: 20px;
}

.ultimos-projetos-recentes {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 32px;
}

.projeto-content img,
.projeto-content h3,
.projeto-content p {
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .ultimos-projetos-recentes {
    padding: 20px;
    gap: 60px;
    flex-direction: column;
  }
}
